.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: gainsboro;
 
  
  
  
}

  /* flex-direction: column;
  
  padding: 5px 10px;
  position: fixed;
  right: 7px;
  top: 78px;
  z-index: 9999; */
/* .navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
  padding: 5px 10px;
  
  right: 7px;
  top: 78px;
  z-index: 9999;
} */

.list-item > a {
  text-decoration: none;
  color: #4b4b4b;
  height: 30px;
  padding: 2px 12px;
  margin: 0 20px;
  transition: none linear 0.50s;
  transition-property: background-color, color;
  border-radius: 6px;
}



.list-item > a:hover {
  background-color: #1864dde9;
  color: white;
}

ul.list {
  display: flex;
  
}

h4 {
  display: block;
}