/* .ad {
  border: solid 1px lightgray;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.ad .ad-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */


.adGrid {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 12px;
  
  
}

.adGrid .ad {
  padding: 20px 0px 20px 0px;
  border: 2px solid red;
  background-color: rgba(245, 245, 245, 0.356);
}

/* .adGrid .ad .ad-ad {
  display: flex;
  flex-wrap: nowrap;
} */

.adGrid .ad .img {
  justify-items: center;
  height: 150px;
  width: 200px;
  padding-top: 20px;
}
.adGrid .ad .span {
  background-color: #74e17fac ;
  border-radius: 6px;
  padding: 2px 5px 0px 5px;
}

